# https://peps.python.org/pep-0440/#version-specifiers
pip

#https://pypi.org/project/pyglet/#history
# Staying on pyglet 1.5 for now (uses deprecated OpenGL functions)
# Removed glooey dependency (it was unused)
pyglet==1.5.31
numpy==2.3.5
colorama==0.4.6

